<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dashboard - tingyun-spider</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta name="description" content="results of {{ project }}">
    <meta name="author" content="binux">
    <link href="{{ url_for('cdn', path='twitter-bootstrap/3.1.1/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='result.min.css') }}" rel="stylesheet">

    <script src="{{ url_for('cdn', path='jquery/1.11.0/jquery.min.js') }}"></script>
    <script src="{{ url_for('cdn', path='twitter-bootstrap/3.1.1/js/bootstrap.min.js') }}"></script>
  </head>

  <body>
    <header>
      <div id="need-set-status-alert" class="alert alert-danger alert-dismissible" style="display:none;" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Project is not started, please set status to RUNNING or DEBUG.
      </div>
      <table width = "100%" border=0 class = "all_info">
      <tr>
      	<th colspan = 5><h1 class="text-success">Control Table</h1></th>
      	<th colspan = 2 style="text-align:right">welcome : {{ info.username }}</th>
      	<th colspan = 2 style="text-align:right">
		<form action="{{ url_for("cas.logout") }}" >
			<input type="submit" class="btn btn-warning" value="注销" logoutRequest={{ info }} />
		</form>
	</th>
      </tr>
      </table>

    <table class="table sortable-theme-bootstrap projects">
        {% if role in ['Admin']%}
        <tr>
            <td>
                <form method="POST" action="{{ url_for("check_cas",user_name=info.username) }}">
                    <input type="hidden" value={{ info.username}} name="name">
                    <input type="submit" class="btn btn-info" value="权限管理">
                </form>
            </td>
        </tr>
        {% endif %}
        {% if role in ['Admin','RD']%}
        <tr>
            <td>
                <form method="GET" action="{{ url_for("old_index",user_name=info.username) }}">
                    <input type="hidden" value="{{ person_info }}" name="group-info">
                    <input type="submit" class="btn btn-info" value="project" name="target">
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form method="GET" action="{{ url_for('group') }}">
                    <input type="submit" class="btn btn-info" value="group" name="target">
                </form>
            </td>
        </tr>

        {% endif %}
        {% if role in ['Admin','PM']%}
        <tr>
            <td>
                <form  method="GET" action="{{ url_for("old_index",user_name=info.username) }}" >
                    <input type="hidden" value="{{ person_info }}" name="group-info">
                    <input type="submit" class="btn btn-info" value="export" name="target" >
                </form>
            </td>
        </tr>
        {% endif %}
    </table>

    
    <script src="{{ url_for('cdn', path='twitter-bootstrap/3.1.1/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('cdn', path='x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>
    <script src="{{ url_for('cdn', path='sortable/0.6.0/js/sortable.min.js') }}"></script>
    <script src="{{ url_for('cdn', path='vue/1.0.26/vue.min.js') }}"></script>
    <script src="{{ url_for('static', filename='index.min.js') }}"></script>
  </body>
</html>
<!-- vim: set et sw=2 ts=2 sts=2 ff=unix fenc=utf8 syntax=htmldjango: -->

