<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit_page</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta name="description" content="pyspider dashboard">
    <meta name="author" content="binux">
    <link href="{{ url_for('cdn', path='twitter-bootstrap/3.1.1/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('cdn', path='x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css') }}" rel="stylesheet">
    <link href="{{ url_for('cdn', path='sortable/0.6.0/css/sortable-theme-bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='index.min.css') }}" rel="stylesheet">

    <script src="{{ url_for('cdn', path='jquery/1.11.0/jquery.min.js') }}"></script>
</head>
<body>


<!--<form method="POST" action="{{ url_for('edit') }}">-->

<table align="center" class="table sortable-theme-bootstrap projects">

    <tr>
        <td>用户姓名</td>
        <td>
            <input value="{{ info.name }}" type="text" name="name"></td>
            <!--<label><span name="name" data-value="{{ info.name }}">{{ info.name }}</span></label>-->
    </tr>
    <tr>
        <td>所属角色</td>
        <td> <input value="{{ info.role }}" type="text" name="role"></td>
    </tr>
    <tr>
        <td>所在用户组</td>
        <td>
            {% for group in all_group %}
            {% if group in eval(info.group) %}
            <input value="{{ group }}" type="checkbox" name="group" checked> {{ group }}
            {% else %}
            <input value="{{ group }}" type="checkbox" name="group"> {{ group }}
            {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>其他信息</td>
        <td><input value="{{ info.info }}" type="text" name="info"></td>
    </tr>
    <tr>
        <td colspan="2"><input type="button" value="修改用户信息" id="sub"></td>
    </tr>
</table>

<!--</form>-->

<script>
$("#sub").click(function fk(){  //jquery获取复选框值
    var s='';
    $('input[name="group"]:checked').each(function(){
    s+=$(this).val()+',';
    });
    $.ajax({
            type: "POST",
            url: "/edit",
            data: {
                'group': s,
                'name': $('input[name="name"]').val(),
            },
            dataType: 'json',
            success: function (data) {
                if (data.status == 302) {
                    location.href = data.location;
                                        }
                                     }
    });
});

</script>




</body>
</html>