<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group manager</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta name="description" content="pyspider dashboard">
    <meta name="author" content="binux">
    <link href="{{ url_for('cdn', path='twitter-bootstrap/3.1.1/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('cdn', path='x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css') }}" rel="stylesheet">
    <link href="{{ url_for('cdn', path='sortable/0.6.0/css/sortable-theme-bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='manager.min.css') }}" rel="stylesheet">

    <script src="{{ url_for('cdn', path='jquery/1.11.0/jquery.min.js') }}"></script>
</head>
<body>
<table width = "100%" border=2 class = "all_info">
      <tr>
      	<th colspan = 5><h1>tingyun-spider dashboard</h1></th>
        <th ><a href="/">返回上一层</a></th>
        <th style="text-align:right">welcome : {{ info.username }}</th>
      	<th style="text-align:right">
		<form action="{{ url_for("cas.logout") }}" >
			<input type="submit" value="注销" logoutRequest={{ info }} />
		</form>
	</th>
      </tr>
      </table>
<table class="table sortable-theme-bootstrap projects">

<!--<table class="table sortable-theme-boots">-->
    <h1>您创建组的全部项目：</h1>
    <tr>
        <td>Group</td>
        <td>Project</td>
        <td>Belong</td>
        <td>Status</td>
        <td>Updatetime</td>
    </tr>
    {% raw %}
    <tr v-cloak v-for="project in projects" data-name="{{* project.name }}">
        <td class="project-group"><span>{{ project.group }}</span></td>
        <td class="project-name"><span>{{ project.name }}</span></td>
        <td class="project-belong"><span>{{ project.belong }}</span></td>
        <td class="project-status"><span>{{ project.status }}</span></td>
        <td class="project-updatetime"><span>{{ project.updatetime }}</span></td>

    </tr>
    {% endraw %}
    <!--
    {% for i in projects %}
    <tr>
        <td>{{ i.group }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.belong }}</td>
        <td>{{ i.status }}</td>
        <td>{{ i.updatetime }}</td>
    </tr>
    {% endfor%}
    -->

</table>
<script>


</script>

<script>
      // json projects data for vue
      var projects = {{ projects | tojson | safe }};
</script>

<script src="{{ url_for('cdn', path='twitter-bootstrap/3.1.1/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('cdn', path='x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>
    <script src="{{ url_for('cdn', path='sortable/0.6.0/js/sortable.min.js') }}"></script>
    <script src="{{ url_for('cdn', path='vue/1.0.26/vue.min.js') }}"></script>
    <script src="{{ url_for('static', filename='manager.min.js') }}"></script>

</body>
</html>