<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>manager table</title>


    <link href="{{ url_for('cdn', path='twitter-bootstrap/3.1.1/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('cdn', path='x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css') }}"
          rel="stylesheet">
    <link href="{{ url_for('cdn', path='sortable/0.6.0/css/sortable-theme-bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='index.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="{{ url_for('cdn', path='jquery/1.11.0/jquery.min.js') }}"></script>

    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-table.css">


</head>
<body>


<table class="table table-bordered right_control" data-toggle="table" border=0 align="center" style="font-size:22px;">
    <tr>
        <td colspan="3">
            <button class="btn btn-default btn-lg" data-toggle="modal" data-target="#update-right">Add User</button>
        </td>
        <th ><a href="/">返回上一层</a></th>
        <th style="text-align:right">welcome : {{ cas_user }}</th>
        <th style="text-align:right">
            <form action="{{ url_for("cas.logout") }}" >
                <input type="submit" value="注销" logoutRequest={{ info }}/>
            </form>
    </tr>
    <tr>
        <td>username</td>
        <td>role</td>
        <td>group</td>
        <td>info</td>
        <td>编辑权限</td>
        <td>删除权限</td>

    </tr>
    {% for i in all_info %}
    <tr>
        <form method="POST" action="{{ url_for("edit_page") }}">
        <div>
            <td>{{ i.name }}</td>
            <td>{{ i.role }}</td>
            <td>
                <div class="checkbox">
                    {% for j in eval(i.group) %}
                    <label>
                        <input type="checkbox" checked>{{ j }}
                    </label>
                {% endfor %}
                </div>
            </td>
            <td>{{ i.info }}</td>
            <td>
                <input type="hidden" value={{ i.name }} name="edit_name">
                <button type="submit" class="btn btn-default btn-lg nima" data-toggle="modal" id="edit_right">
                    Submit
                </button>
            </td>
            </div>
        </form>
        <td>
            <!--<form method="POST" action="{{ url_for("delete")}}">-->
            <!--<button type="submit" id="delete" class="btn btn-default btn-primary btn-lg delete" data-toggle="modal"
                    data-target="#delete-person" id="delete-person">
                删除权限
            </button>-->
            <!--<form method="POST" action="{{ url_for('delete')}}">
                <input type="hidden" value={{ i.name }} class="delete_name" name="delete_name">
                <button type="submit" value="delete" class="btn btn-default btn-lg">Delete</button>
            </form>
            -->
            <div id="fuck">
                <input type="hidden" value={{ i.name }} class="delete_name" name="delete_name">
                <button id="sub" type="button" value="delete" class="btn btn-default btn-lg">Delete</button>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
<script>
$("[id=sub]").click(function fk(){  //jquery获取复选框值
    var statu = confirm("确定删除用户?");
    if(!statu){
       return false;
    }
    var s = $(this).parent('div').children(".delete_name").val();
    $.ajax({
            type: "POST",
            url: "/delete",
            data: {
                'delete_name': s,
            },
            dataType: 'json',
            success: function (data) {
                if (data.status == 200) {
                    //location.href = data.location;
                    alert("delete success!");
                    location.href = data.location;
                                        }
                                     },
            error: function (data) {
                    alert("delete failed!");
                    location.href = data.location;
                    }
    });
});
</script>
<div class="modal fade" id="update-right">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">添加用户</h4>
            </div>
            <form class="form-update-right" method="POST" action="{{ url_for("update_right") }}">
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="user-name">User Name</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" id="name" name="name" autocomplete="off">
                        <span class="help-block" style="display: none;">[a-zA-Z0-9_]+</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="role">Role</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="role" id="role">
                            <option value="Admin">Admin</option>
                            <option value="RD">RD</option>
                            <option value="PM">PM</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="group">Group</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" list="browsers" id="group" name="group" autocomplete="off">
                        <datalist id="browsers">
                        {% if group_names %}
                        {% for i in group_names %}
                        <option value="{{ i }}">
                        {% endfor %}
                        {% endif %}
                        </datalist>
                        <span class="help-block" style="display: none;">[a-zA-Z0-9_]+</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input name="cas_user" value={{ cas_user }} type="hidden">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary" id="form_submit">Add User</button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<script>
    //$(document).on("click", "#form_submit", function(e){
    $('#update_right').on("click",".btn",function(){
        type: "post",
        url: "/update_right",
        var info = {
            "name" : $('#name').val(),
            "role" : $('#role').val(),
            "group" : $('#group').val()
            }
        alert("nima")
    })
</script>
<script>
    $("#create-project-modal form").on('submit', function(ev) {
        var $this = $(this);
        var project_name = $this.find('[name=project-name]').val()
        if (project_name.length == 0 || project_name.search(/[^\w]/) != -1) {
          $this.find('[name=project-name]').parents('.form-group').addClass('has-error');
          $this.find('[name=project-name] ~ .help-block').show();
          return false;
        }
        var mode = $this.find('[name=script-mode]:checked').val();
        $this.attr('action', '/debug/'+project_name);
        return true;
      });

</script>

</body>
</html>